*{
    margin: 0;
    padding: 0;

}
.header{
    position: relative;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    background-image: url("landing.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
    text-align: center;
    font-family: cursive;
    font-size: larger;
    align-items: center;

}
.header>.logo{
    position: relative;
    display: inline-block;
    top: 50px;
    left: 10%;
    font-size: 32px;
    color: white;
} 
footer{
    height: 100px;
    background: #f15a29;
}
.drinks{
    display: flex;
    margin: 5px;
    width: 200px;
    height: 200px;
    box-shadow: 200px 200px 5px white;
}
.fastfood{
    flex-direction: column;
    display: flex;
    width: 200px;
    margin: 5px;
}
.customers{

}
.sauce{
    background-image: url("foodsBg.jpg");
}
.subscription{
    background-image: url("subscribe.jpg");
}
.about{
   display: flex;
   flex-wrap: wrap;
}