*{
    margin: 0;
    padding: 0;

}
.header{
    position: relative;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    background-image: url("landing.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
    text-align: center;
    font-family: cursive;
    font-size: larger;
    align-items: center;

}
.header>.logo{
    position: relative;
    display: inline-block;
    top: 50px;
    left: 10%;
    font-size: 32px;
    color: white;
} 
footer{
    height: 100px;
    background: #f15a29;
    text-align: center;
}
.drinks{
    display: flex;
    margin: 5px;
    width: 200px;
    
}
.fastfood{
    width: 200px;
    margin: 50px;
    clear: left;
    flex-wrap: wrap-reverse;
}
.ipsum{
    display: flex;
    justify-content: right;
    
}
.customers{
    float: left;
    margin: 50px;
    padding-top: 1px;
}
.sauce{
    background-image: url("foodsBg.jpg");
    padding-bottom: 100px;
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 100px;
}
.subscription{
    background-image: url("subscribe.jpg");
    padding-top: 100px;
    padding-bottom: 100px;
}
.about{
   flex-wrap: wrap;
   margin: 50px;
   padding-bottom: 50px;
}
.chick{
    margin-left: 50px;
}