*{
    margin: 0;
    padding: 0;

}
.header{
    position: relative;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    background-image: url("landing.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
    text-align: center;
    font-family: cursive;
    font-size: larger;
    align-items: center;

}
.header>.logo{
    position: relative;
    display: inline-block;
    top: 50px;
    left: 10%;
    font-size: 32px;
    color: white;
}

/* div{
    flex-basis: 100%;
    align-items: center;
    width: 22cm;
    
    text-align: center;
    border-image-width: 100px;
} */
.fastfood{
    flex-direction: column;
    background-color: white;
}
.image{
    float: left;
    height: 200px;
    width: auto;
    margin-right: 10px;
}
.big{
    align-items: center;
    display: flex;
}
.p2{
    width: 60%;
    clear: right;
    align-items: center;
    border: white;
    box-shadow: 2px 2px 4px solid white;
    float: left;
}