.happy{
    flex-direction: row;
    border: 30px solid white;
    display: flex;
}
.party{  
    background-color: #f15a39;
    width: 600px;
    text-align: center;
    height: 122px;
}        
.special{
    float: left;
    display: flex;
    justify-content: left;
    flex-direction: column;
    width: 200px;
    font-weight: 40;
    align-items: center;
}    
.breakfast{
   background-image: url("breakfast.jpg");
   width: 400px;
   height: 200px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.lunch{
   align-self: center;
   background-image: url("lunch.jpg");
   width: 400px;
   height: 200px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.dinner{
   background-image: url("dinner.jpg");
   height: 200px;
   width: 400px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.order{
    display: flex;
    color: white;
    
}
a{
    color: red;
}
.subscribe{
    margin-left: ;
}
ipsum{
    
}