.happy{
    flex-direction: row;
    flex-wrap: wrap;
    border: 30px solid white;
    background-color: white;
    display: flex;
}
.party{
    flex: 30px;
    background-color: #f15a39;
    border: 20px;
    align-items: baseline;
    display: flex;
    text-align: center;
}    
.special{
    float: left;
    display: flex;
    justify-content: left;
    flex-direction: column;
    width: 300px;
    font-weight: 40;
    align-items: baseline;
}    
.breakfast{
   text-align: center; 
   background-image: url("breakfast.jpg");
   width: 200px;
   height: 200px;
   display: flex;
   justify-content: center;
}
.lunch{
   text-align: center;
   background-image: url("lunch.jpg");
   width: 200px;
   height: 200px;
   display: flex;
   justify-content: center;
}
.dinner{
   background-image: url("dinner.jpg");
   height: 200px;
   display: flex;
   justify-content: center;
}
.order{
    flex-basis: 100%;
    display: flex;
}