.happy{
    flex-direction: row;
    border: 30px solid white;
    display: flex;
}
.party{  
    background-color: #f15a39;
    margin: 10px;
    width: 100%;
    text-align: center;
    height: 100px;
}    
.special{
    float: left;
    display: flex;
    justify-content: left;
    flex-direction: column;
    width: 300px;
    font-weight: 40;
    align-items: center;
}    
.breakfast{
   background-image: url("breakfast.jpg");
   width: 200px;
   height: 200px;
   display: flex;
   justify-content: center;
}
.lunch{
   align-self: center;
   background-image: url("lunch.jpg");
   width: 200px;
   height: 200px;
   display: flex;
   justify-content: center;
}
.dinner{
   background-image: url("dinner.jpg");
   height: 200px;
   width: 200px;
   display: flex;
   justify-content: center;
}
.order{
    display: flex;
    color: white;
    display: flex;
    width: 700px;
}